body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.usernameHidden {
    filter: blur(.6rem);
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}